<div class="container"
>

    <marquee> <h1 style="color: aqua;">Welcome to Age calculator app</h1></marquee>
    <marquee  behavior="alternate" direction="right" scrollamount="10"><p style="color: rgba(255, 0, 13, 0.993);">Calculate Exact how old are you</p></marquee>
    <input type="date" [(ngModel)]="date" style="color: rgb(226, 43, 43);font-size: 20px; border: solid darkolivegreen;" />
    <button  nz-button nzType="default"  nzSearch (click)="getAge()" style="font-size: 20px;" >calculate age</button>
    <br/>
    <br/>
    <table align="center">
        <tr>
            <td>
                 <div  style="color: brown; font-size: 30px;">years=</div>
            </td>
            <td>
                {{age.years}}
            </td>
        </tr>
        <tr>
            <td>
                <div style="color: blueviolet; font-size: 30px;">months=</div>
            </td>
            <td>
                {{age.months}}
            </td>
    <   /tr>
        <tr>
            <td>
                <div style="color: blue;font-size: 30px;">days=</div>
            </td>
            <td>
                {{age.days}}
            </td>
        </tr>

    </table>
    <br/>
    <img *ngIf="myimage" [src]="myimage" width="200" height="200" alt="">
</div>